
<table> 
	<th></th>
	<th>Name</th>
	<th>Address</th>
	<th>Zip Code</th>
	<th>Phone</th>
	<th>License</th>
	<th>License 2</th>
	<% @daycareproviders.each_with_index do |provider,index| %>
		<tr>
			<td><%= index +1%></td>
			<td><%= provider.facilityname %></td>
			<td><%= provider.streetaddress %></td>
			<td><%= provider.zipcode %></td>
			<td><%= provider.telephone %></td>
			<td><%= provider.facilitynumber %></td>
			<td>-</td>
		</tr>
	<% end %>
	<% @smalldaycareproviders.each do |small_provider| %>
		<tr>
			<td><%= @dss_daycare_count = @dss_daycare_count + 1 %></td>
			<td><%= small_provider.name %></td>
			<td><%= small_provider.mail_address_1 %></td>
			<td><%= small_provider.mail_zip_code %></td>
			<td><%= small_provider.phone %></td>
      		<td><%= small_provider.daycarelicenses.first.state_license_number %></td>
      		<% if small_provider.daycarelicenses.size > 1 %>
        		<td><%= small_provider.daycarelicenses.second.state_license_number %></td>
      		<% end %>			
      		
		</tr>
	<% end %>
</table> 


