<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110222912-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110222912-1');
  </script>
  <meta name="msvalidate.01" content="CDAFAD3FEFCEE036EC09FE7435EC5FD0" />
  <%= yield :head %>
  <title>List of Daycares in San Francisco</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= yield :head_stylesheets %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <!-- <script src="https://use.fontawesome.com/c4f865cc02.js"></script> -->
</head>

<body>


  <div class="container">
    <div class="row ">
    </div>

  	<div class="row">
      <div class="col">
  		  <%= yield %>     
      </div>
	 </div>     
   <div class="row">
     <div class="col">
        <%= yield :neighborhood_links %>

     </div>
   </div>
</div>
	
	
</body>
</html>
